.layout-main-div {
    background-color: lightgray;
    border: 1px solid lightgrey;
    margin: 15px;
    border-radius: 10px;
    height: 90vh;
    width: 95vw;
    padding: 20px;

    .layout-intenral-div {
        background-color: lightblue;
        height: 80vh;
        width: 90vw;
        border-radius: 10px;
        padding: 30px;
        margin: 15px;
    }

    .layout-internal-child-div {
        background-color: white;
        height: 60vh;
        margin: 50px;
        width: 80vw;
        padding: 25px;
        border-radius: 10px;

        .wave-background {
            position: absolute;
            margin-top: 15px;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: lightblue;
            clip-path: path("M 0 100 Q 100 0, 250 50 T 500 0 L 500 500 L 0 500 Z"
                );
            z-index: 1;
            border-radius: 10px;
        }

        .profile-img {
            position: relative;
            margin-top: 10px;
            z-index: 2;
            width: 40%;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 15px;
        }

        h1 span {
            color: #222;
            font-weight: 600;
        }

        p {
            color: #555;
            font-size: 1rem;
            max-width: 400px;
        }

        .buttons {
            margin-top: 20px;
        }

        .description {
            font-size: small;
            color: grey;
            font-weight: 500;

        }
    }

    .text-link {
        color: black;
        cursor: pointer;
        font-weight: 500;
        text-decoration: underline;

        &:hover {
            color: #f4b400; // Bootstrap blue for hover
            text-decoration: underline;
        }
    }

}